<ifModule mod_rewrite.c>
RewriteEngine on
ErrorDocument 404 http://localhost/proyecto/error/

RewriteCond %{SCRIPT_FILENAME} !-d
RewriteCond %{SCRIPT_FILENAME} !-f

Rewriterule ^(.*)/(.*) index.php?controller=$1&action=$2
</ifModule>